<?xml version="1.0" encoding="UTF-8"?>

<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/data/jpa
http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns="http://www.springframework.org/schema/beans">

	<mvc:annotation-driven />
	<context:component-scan base-package="com.patient.exceptions,com.patient.controllers,com.patient.services" />

	<!-- Start h2 console -->
	<bean id="h2WebServer" class="org.h2.tools.Server" factory-method="createWebServer"
		init-method="start" destroy-method="stop">
		<constructor-arg value="-web,-webAllowOthers,-webPort,8082" />
	</bean>

	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="org.h2.Driver" /> <property name="url" 
		value="jdbc:h2:./Database/patientdb" /> <property name="username" value="sa" 
		/> <property name="password" value="" /> </bean> -->

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:mem:patientdb" />
		<property name="username" value="sa" />
		<property name="password" value="" />
		<property name="initialSize" value="2" />
		<property name="maxTotal" value="5" />
	</bean>

	<!-- Create default configuration for Hibernate -->
	<bean id="hibernateJpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter" />
		<!-- Set JPA properties -->
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
				<prop key="javax.persistence.schema-generation.database.action">create</prop>
				<prop key="javax.persistence.schema-generation.drop-source">script</prop>
				<prop key="javax.persistence.schema-generation.drop-script-source">scripts/drop-schema.sql</prop>
				<prop key="javax.persistence.schema-generation.create-source">script</prop>
				<prop key="javax.persistence.schema-generation.create-script-source">scripts/create-schema.sql</prop>
				<prop key="hibernate.ejb.use_class_enhancer">true</prop>
			</props>
		</property>
		<!-- Set base package of your entities -->
		<property name="packagesToScan" value="com.patient.entities" />
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven />

	<jpa:repositories base-package="com.patient.repos" />
	<!-- <bean id="simpleMappingExceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> 
		<property name="exceptionMappings"> <map> <entry key="NullPointerException" 
		value="errors/NullPointerException" /> <entry key="IOException" value="errors/IOException" 
		/> </map> </property> <property name="defaultErrorView" value="errors/InternalServerError" 
		/> <property name="warnLogCategory" value="MVCLogger" /> </bean> -->
</beans>